body {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.left {
    display: flex;
    align-items: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.repel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spaced {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}