/* Layout */
#header {
    position: fixed;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid lightgray;
    padding: 0 20px;
    background-color: #f7f7f7;
    z-index: 1;
}
#content {
    position: fixed;
    display: flex;
    justify-content: stretch;
    width: 100%;
    height: calc(100% - 40px);
    top: 40px;
}
#left-panel {
    width: 300px;
    border-right: 1px solid lightgray;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: white;
}
#left-panel::-webkit-scrollbar {
    display: none;
}
#right-panel {
    flex: 1;
    background-color: #f7f7f7;
    overflow-y: auto;
}
@media screen and (max-width: 600px) {
    #content {
        width: 200%;
    }
    #left-panel {
        width: 50%;
    }
}

/* Widgets */
.menu-button {
    display: inline-block;
    position: relative;
}
.button-menu {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 3px;
}
.textfield {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid lightgray;
}

/* Header */
#login-dialog {
    min-width: 200px;
}
#login-dialog > div {
    padding: 5px 10px;
}
#login-dialog > div > * {
    margin: 5px 0;
}
.icon-good::before {
    content: '\e813';
    color: lightgreen;
}
.icon-error::before {
    content: '\e816';
    color: red;
}
.icon-pending::before {
    content: '\f110';
    color: gray;
    animation: rotate 2s linear infinite;
}
#option-menu {
    padding: 5px 0;
    word-break: keep-all;
    min-width: 150px;
}
#option-menu > * {
    padding: 5px 10px;
    cursor: pointer;
}
#option-menu > *:hover {
    background-color: #f7f7f7;
}

/* Left panel */
#left-panel-header {
    display: flex;
    padding: 5px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid lightgray;
    background-color: #f7f7f7;
    align-items: center;
}
#left-panel-header .textfield {
    flex: 1;
    margin-right: 5px;
}
.entry {
    padding: 15px;
    border-bottom: 1px solid lightgray;
}
.entry:hover {
    background-color: #f7f7f7;
}
.entry.selected {
    box-shadow: 4px 0 0 0 red inset;
    background-color: #f7f7f7;
}
.entry-description {
    font-size: smaller;
    color: gray;
}
.list-bottom {
    text-align: center;
    color: gray;
    font-size: smaller;
    padding: 5px 0;
}

/* Right panel */
#right-panel-content {
    max-width: 600px;
}
#right-panel-content > * {
    margin: 40px;
}
#right-panel-header {
    position: sticky;
    top: 0;
    margin-top: 30px;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
    background-color: #f7f7f7;
}
.field-name {
    font-size: smaller;
    color: gray;
}
.field-content {
    word-wrap: break-word;
    word-break: break-all;
}
.field [class^='icon-'] {
    cursor: pointer;
}
.field .textfield {
    width: 100%;
}
.generator {
    border: 1px solid lightgray;
    border-radius: 5px;
}
.generator > * {
    margin: 10px;
}
.generator-range {
    margin: 0 10px;
    flex: 1;
}

/* Message */
.message {
    position: fixed;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.message-good {
    border: 1px solid green;
    background-color: #ebf3d5;
    color: green;
    border-radius: 3px;
    padding: 0 10px;
}
.message-error {
    border: 1px solid red;
    background-color: #f8e2e2;
    color: red;
    border-radius: 3px;
    padding: 0 15px;
}
.drop-enter-active, .drop-leave-active {
    transition: all .3s ease;
}
.drop-enter, .drop-leave-to {
    top: 0;
    opacity: 0;
}

#hidden {
    position: fixed;
    top: -999px
}