#listview li {
    margin-bottom: 10px;
    break-inside: avoid;
    page-break-inside: avoid;
}

.name {
    position: relative;
    background-color: #e7e7e7;
    border-radius: 10px 0 0 0;
}

.cont{
    position: relative;
    background-color: #f7f7f7;
    border-radius: 0 0 10px 0;
}

.textfield {
    padding: 10px;
}

.textfield:empty::before {
    content: '空';
    color: gray;
}

.opt {
    position: absolute;
    top: 10px; right: 0;
}

.opt i {
    cursor: pointer;
    background-color: #fff7;
    color: #0004;
    margin-right: 10px;
}

.opt i:hover {
    color: black;
    background-color: white;
}

.icon-cancel {
    color: red;
}

.empty {
    margin-left: 20px;
}